# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Environment
.env
.env.local

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Android/iOS
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
